# dependencias
node_modules/

# directorios de compilación / build
# dist/
# build/
# out/

# variables de entorno
.env
.env.local
.env.development
.env.test
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# archivos generados por el sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# directorios y archivos de editores (VSCode, IntelliJ, etc)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
